/*
 body{
    margin: 0;
}
.block-homes{
    background-color: #EAF0F9;
    height: 800px;
}
.block-homes__name{
    display: flex;
    justify-content: center;
}
.block-homes__name-content{
    font-size: 40px;
    font-family: sans-serif;
}
.block-homes__container-image{
    margin-left: 8.33%;
    margin-right: 8.33%;
    margin-top: 105px;
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

.block-homes__container-text{
    font-size: 24px;
    line-height: 28px;
    color: #3077C6;
    font-family: sans-serif;
    margin: 0;
}

.block-homes__container-text-grey{
    font-size: 24px;
    line-height: 28px;
    color: #BFBFBF;
    font-family: sans-serif;
    margin: 0;
}
.image-1-hotels{
    width: 300px;
    height: 300px;
}

.icon-arrows{
    position: absolute;
    right: -1%;
    top: 35%;
    cursor: pointer;
}

.block-homes__container-image-first{
    margin-left: 16px;
}

!*
.choice-form{
    background-color: darkseagreen;
    width: 259px;
    min-height: 158px;
    border-radius: 8px;
    padding: 22px;
}
.choice-form__adults-text{
    font-size: 16px;
    line-height: 19px;
    font-family:sans-serif;
}
.choice-form__markup{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.choice-form__children, .choice-form__rooms{
    margin-top: 15px;
}
.choice-form__adults-content{
    display: flex;
    align-items: center;
}
.choice-form__adults-content-span{
    margin-left: 20px;
    margin-right: 20px;
}
.choice-form__adults-content-button{
    font-size: 18px;
    line-height: 21px;
    color: #3077C6;
    font-family: sans-serif;
}
.button-minus,.button-plus{
    width: 30px;
    cursor: pointer;
    margin-right: 0;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #3077C6;
    box-sizing: border-box;
}
.button-disabled{
    background: #FFFFFF;
    border: 1px solid #CECECE;
    box-sizing: border-box;
    cursor: not-allowed;
}
.choice-age{
    margin-top: 30px;
    font-size: 12px;
    line-height: 14px;"
}
.choice-age__select{
    background: #FFFFFF;
    border: 1px solid #3077C6;
    box-sizing: border-box;
    height: 30px;
    width: 100px;
    margin-top: 10px;
    margin-left: 10px;
}
.choice-age__disabled{
    display: none;
}
.choice-age__select{
    font-size: 12px;
    line-height: 14px;
}
*/
#form-El{
    display: flex;
    flex-direction: column;
    border: #3077C6;
    width: 200px;
    height: 400px;
}
.button-form {
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 3px;
    background:#40C781;
    box-shadow: 0 -3px #35A76E inset;
    transition: 0.2s;
}
.button-form:hover {
    background: #35A76E;
}
.button-form:active {
    background: #21935A;
    box-shadow: 0 3px #21935A inset;
}
